*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Cinzel', serif;;
    --ff-secondary: 'Montserrat', sans-serif;

    --fw-reg: 300;
    --fw-bold: 600;

    --clr-light: #fff;
    --clr-dark: #000;
    --clr-accent: #c2b577;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;

}

h1 {font-size: var(--fs-h1);font-weight: var(--fw-bold)}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section__title {
    margin-bottom: .25rem;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__button--intro {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1rem;
}

.logo {
    max-width: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    position: relative;
}

.nav {
    margin: 0 auto;
}

.nav__list {
    margin: 2em;
    padding: 0;
    list-style: none;
    text-align: right;
}


.nav__item {
    margin-right: 2em;
    display: inline-block;
}

.nav__link {
    text-decoration: none;
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
}

.intro {
    position: relative;
    margin-bottom: 2rem;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 10rem auto;
        margin-bottom: 5rem;
        grid-column-gap: 1rem;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5rem;
    }
}

.my-services {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    background-size: cover;
    text-align: center;
}

.section__title--services {
    margin-top: 1rem;
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border: none;
    margin: 0.5em 0.5em 1em;
}

.work {
    margin-bottom: 3rem;
}

.btn:hover {
    transform: scale(1.1);
}

@media (min-width: 600px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-top: 5rem;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    .service + .service {
        margin-left: 2em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 2em;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
        grid-column-gap: 1em;
    }

    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        align-self: start;
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
    }

    .about-me__img {
        grid-area: img;
        position: relative;
    }
}


ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}


@media (min-width: 600px) {
    .projects {
        display: flex;
        max-width: 1000px;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
}
.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.text {
    font-family: var(--ff-secondary);
    color: var(--clr-accent);
    padding: 30px;
}

.none {
    display: none;
}

.profil {
    text-decoration: none;
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-overlay{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    color :#fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-accent);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.my-work {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    margin-top: 4rem;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 7rem;
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}

.footer {
    background: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link{
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
    font-size: var(--fs-h3);
}

.social-list__link {
    padding: .5em;
}

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}
.portfolio-item-individual p {  
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}